# Ignore le dossier node_modules
myapp/node_modules/

# Ignore package-lock.json et package.json
myapp/package-lock.json
myapp/package.json

# Ignore le répertoire mesfichiers et son contenu
myapp/mesfichiers/