
*{
  border: solid;
  border-width: 1px;
  border-color: red;
} 


body{
  background-color: #fafafa !important;
}

.index{
  background: linear-gradient(#323a59, #2C3248);
  /*background: #323a59;*/
}



nav#navbar {
  position: sticky;
  top: 0;
  background-color: #272D46;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 48px;
  padding: 16px;
  width: 100%;
  color: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
  z-index: 50;
}
.icon-md {
  height: 36px;
  aspect-ratio: 1;
}

.icon-sm {
  height: 16px;
  aspect-ratio: 1;
}

.account {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.10);
  padding: 8px;
  border-radius: 16px;
}


.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg {
  width: 20px;
  aspect-ratio: 1;
}

.icon.svg-baseline svg {
  top: .125em;
  position: relative;
}

.background{
  background-color: #272D46;
}

.text{
  color: #ededed;

}

a {
  color: #00B7FF;
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

/*.sidebar{
  background-color: #f8f9fa;
}*/

.box{
  height: 100vh; 
  min-height: 300px; 
  max-height: 700px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */
}