
<footer class="border-top" id="footer">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-4 p-1">
                    <a class="navbar-brand text-dark text-uppercase p-1" href="#">
                        <span class="p-1 rounded-3">Nomdusite</span>
                    </a>
                </div>
                <div class="col-4 p-1 text-center">
                    Mentions légales
                </div>
                <div class="col-4 p-1 text-end">
                    <ul class="list-inline m-2 p-0">
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark"><i class="bi bi-linkedin "></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark"></a><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark"></a><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       
        

    
    </section>

</footer>
