<header class="sticky-top">
    <div class="navbar container-fluid d-flex flex-row">
        <!--<% console.log(req.session.current_profil); %>-->
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn text-light rounded-circle btn-outline-light" href="/users/candidat"><i class="bi bi-house"></i></a>
        <% } else if (req.session.current_profil == 2) { %>
            <a class="btn text-light rounded-circle btn-outline-light" href="/recrut/recruteur"><i class="bi bi-house"></i></a>
        <% } %>
    
        <a class="btn text-light" href="/logout"><i class="bi bi-box-arrow-right fa-lg"></i></a>
        <p class="my-auto text-light fw-bold">Nom du site</p>
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn btn-outline-light my-auto btn-sm" href="/users/demandes">Saisir demande</a>
            <a class="btn btn-outline-light my-auto btn-sm" href="/users/creer_orga">Créer Organisation</a>
        <% } else if (req.session.current_profil == 2) { %>
            <!-- Aucune action définie pour le profil 2 -->
        <% } else if (req.session.current_profil == 3) { %>
            <a class="btn btn-outline-light my-auto btn-sm" href="/admin/demandes">Gérer demandes</a>
        <% } %>
    
        <% if (req.session.current_profil == 1) { %>
            <a class="btn rounded text-light" href="/users/profil_candidat"><i class="box-arrow-left"></i>Profil</a>
        <% } else if (req.session.current_profil == 2) { %>
            <a class="btn rounded text-light" href="/recrut/profil_recruteur"><i class="box-arrow-left"></i>Profil</a>
        <% } %>
    </div>
    
</header>