<header class="sticky-top">
    <div class="navbar container-fluid d-flex flex-row">
        <a class="btn text-light rounded-circle btn-outline-light" href="/users/candidat"><i class="bi bi-house"></i></a>
        <p class="my-auto text-light fw-bold">Nom du site</p>
        <a class="btn btn-outline-light my-auto btn-sm" href="/recrut/demandes">Saisir demande</a>
        <a class="btn btn-outline-light my-auto btn-sm" href="#">Créer Organisation</a>
        <a class="btn rounded text-light" href="/users/profil_candidat"><i class="bi bi-person-circle me-2"></i>
            Profil</a>
    </div>
</header>