<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>


<body style="height: 100vh;" class="sidebar">

    <%- include('./components/navbar')%>


    <main>
        <section class="py-2">
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col-3">

                        <div class="row pb-4">
                            <div class="container mt-4">

                                <form class="form-inline" action="" method="post">
                                    <div class="form-group  mb-3 d-flex flex-row">
                                        <input type="mot_cle" class="form-control" id="mot_cle" placeholder="Recherchez des offres" name="mot_cle">
                                        <button type="submit" class="btn btn-outline-primary offset-sm-1">Rechercher</button>
                                    </div>
                                </form>


                                <input type="lieux" class="form-control mt-2" id="lieux" placeholder="Lieux" name="lieux">
                                <div class="d-flex mt-2">
                                    <p class="text-center my-auto me-2">Type</p>
                                    <select class="form-select">
                                        <option>Selectionnez</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="d-flex mt-2">
                                    <p class="text-center my-auto me-2">Autre</p>
                                    <select class="form-select">
                                        <option>Selectionnez</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-primary mt-2">Valider</button>
                            </div>

                        </div>

                        <div class="row my-2">

                            <div class="container d-flex justify-content-center h-80" style="flex-direction: column;">
                                <a class="btn btn-outline-secondary mb-2" href="#">Modifier mon profil</a>

                                <a class="btn btn-outline-secondary mb-2" href="#">Voir mes candidatures</a>

                                <a class="btn btn-outline-secondary mb-2" href="#">Active</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-9 gy-4">
                        <div class="card mb-4 pt-0 " style="width: autorem;">
                            <div class="card-body g-4">
                                <h5 class="card-title text-dark fs-3">Fiche de poste</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Auchan</h6>
                                <p class="card-text text-dark">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                <a href="#" class="btn btn-secondary ">Postuler</a>
                            </div>
                        </div>

                        <div class="card mb-4  pt-0" style="width: autorem;">
                            <div class="card-body g-4">
                                <h5 class="card-title text-dark fs-3">Fiche de poste</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Auchan</h6>
                                <p class="card-text text-dark">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                <a href="#" class="btn btn-secondary ">Postuler</a>
                            </div>
                        </div>

                        <div class="card mb-4 pt-0" style="width: autorem;">
                            <div class="card-body g-4">
                                <h5 class="card-title text-dark fs-3">Fiche de poste</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Auchan</h6>
                                <p class="card-text text-dark">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                <a href="#" class="btn btn-secondary ">Postuler</a>
                            </div>
                        </div>

                        <div class="card mb-4 pt-0" style="width: autorem;">
                            <div class="card-body g-4">
                                <h5 class="card-title text-dark fs-3">Fiche de poste</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Auchan</h6>
                                <p class="card-text text-dark">Some quick example text to build on the card title and
                                    make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-secondary">Voir l'offre</a>
                                <a href="#" class="btn btn-secondary ">Postuler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="border-top">
        <div class="container py-2">
            <div class="row gy-4 align-items-center">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand text-dark text-uppercase fw-bold" href="#">
                        <span class="btn btn-outline-light  p-1 rounded-3 text-light">Nomdusite</span>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <p class="text-md-center ">Mentions légales </p>
                </div>
                <div class="col-12 col-md-4 text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark pl-1"><i class="bi bi-linkedin "></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark"></a><i class="bi bi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark"></a><i class="bi bi-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>