<!DOCTYPE html>
<html lang="fr">
  <%- include('./includes/head')%>

<body style="height: 100vh;" class="index text"> 

    <section  class="box d-flex justify-content-center align-items-center">

        <div class="container">

            <div class="row gy-4 mt-2 align-items-center justify-content-center">

                <div class="col-6 p-4 rounded background">
                  <h1 class="text-center text-uppercase">Se connecter</h1>

                    <form method="post" action="/connexion" class="p-2">
                        <div class="form-group col-12 col-lg-10 offset-lg-1 p-1">
                          <label for="exampleInputEmail1">Adresse mail</label>
                          <input type="email" class="form-control mt-2 mb-4" id="mail" placeholder="Enter email" name="mail">
                        </div>
                        <div class="form-group col-12 col-lg-10 offset-lg-1 p-1">
                          <label for="exampleInputPassword1">Mot de passe</label>
                          <input type="password" class="form-control mt-2" id="Password" placeholder="Password" name="mdp">
                        </div>
                        <div class="mt-4 mb-4 offset-lg-1">
                          <a href="/inscription" >S'inscrire</a>
                        </div>
                        <button type="submit" class="btn btn-primary offset-lg-1">Se connecter</button>
                      </form>
                </div>
            </div>

        </div>

    </section>
</body>
</html>
