<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

  <body>
    <%- include('./components/navbar')%>
      <div id="page-container">
        <div id="content-wrap" class="bg-light">

          

          <section>
            <div class=" d-flex justify-content-center">
              <div class="col-7 p-4 flex-column bg-white">
                <h1 class="display-4">Enregistrer une offre d'emploi</h1>
                <hr>
                <form action="/recrut/creer_offre" method="post">
                  <div class="mb-3 mt-3">
                    <label for="intitule">Intitule</label>
                    <input type="text" class="form-control" id="intitule" placeholder="Intitule" name="intitule">
                  </div>
                  <div class="mb-3">
                    <label for="statut">Statut</label>
                    <input type="text" class="form-control" id="statut" placeholder="Statut de poste" name="statut">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="responsable">Responsable</label>
                    <input type="text" class="form-control" id="responsable" placeholder="Responsable"
                      name="responsable">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="type">Type</label>
                    <input type="text" class="form-control" id="type" placeholder="Type" name="type">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="lieu">Lieu</label>
                    <input type="text" class="form-control" id="lieu" placeholder="Lieu" name="lieu">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="rythme">Rythme</label>
                    <input type="number" class="form-control" id="rythme" placeholder="Entrez le rythme h/semaine"
                      name="rythme">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="salaire">Salaire</label>
                    <input type="number" class="form-control" id="salaire"
                      placeholder="Entrez la rémunération en euros/mois" name="salaire">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="description">Description</label>
                    <input type="comment" class="form-control" id="description" placeholder="Description"
                      name="description">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="pieces">Pièces</label>
                    <input type="text" class="form-control" id="pieces" placeholder="CV, LM ..." name="pieces">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="nombrePieces">Nombre de Pièces</label>
                    <input type="number" class="form-control" id="nombrePieces" placeholder="Nombre"
                      name="nombrePieces">
                  </div>
                  <label for="dateValidite">Date de validité de l'offre:</label>
                    <input type="dateValidite" id="dateValidite" name="dateValidite" placeholder="AAAA-MM-JJ" required>
                   
                  <div class="mb-3 mt-3">
                    <label>
                      <input type="radio" name="etat" value="publiee">
                      Publier l'offre maintenant
                    </label>
                    <br>
                    <label>
                      <input type="radio" name="etat" value="non publiee">
                      Ne pas publier
                    </label>

                  </div>


                  <button type="submit" class="btn btn-primary">Valider</button>
                </form>
              </div>
            </div>

          </section>



      </div>
      <%- include('./components/footer')%>
  </body>

</html>