<!DOCTYPE html>
<html lang="fr">
  <%- include('./includes/head')%>


  <body class="index text" style="height: 100vh;"> 

  <section  class="box d-flex justify-content-center align-items-center">

    <div class="container py-4">
      <h1 class="text-center text-uppercase">S'inscrire</h1>
      <div class="row gy-4 ">
        <div class="col-6 offset-3">
          <form action="/inscription" method="post">
            <div class="mb-3 mt-3">
              <label for="Mail">Email:</label>
              <input type="email" class="form-control" id="mail" placeholder="Entrer votre email" name="mail">
            </div>
            <div class="mb-3">
              <label for="Mdp">Password:</label>
              <input type="password" class="form-control" id="mdp" placeholder="Entrer votre mot de passe" name="mdp">
            </div>
            <div class="mb-3 mt-3">
              <label for="email">Nom:</label>
              <input type="Nom" class="form-control" id="nom" placeholder="Entrer votre Nom" name="nom">
            </div>
            <div class="mb-3 mt-3">
              <label for="Prenom">Prenom:</label>
              <input type="Prenom" class="form-control" id="prenom" placeholder="Entrer votre Prenom" name="prenom">
            </div>
            <div class="mb-3 mt-3">
              <label for="Telephone">Telephone:</label>
              <input type="Telephone" class="form-control" id="telephone" placeholder="Entrer votre numéro de téléphone" name="telephone">
            </div>
            <div class="mb-3 mt-3">
              <a href="/connexion" class="text-light" >J'ai déjà un compte</a>
            </div>
                
            <button type="submit" class="btn btn-outline-light">S'inscrire</button>
          </form>            
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
