<!DOCTYPE html>
<html lang="fr">

<%- include('./includes/head')%>

<body>
<%- include('./components/navbar')%>
<div id="page-container">
    <div id="content-wrap">

        <!-- ICI LE CODE DE LA PAGE -->
        
    </div>
        
    <%- include('./components/footer')%>

</div>

</body>
</html>